html {
    padding: 0;
    margin: 0;
}

.body{
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: auto;
}

.main-head{
    background-color: #BB1313;
    width: 100%;
}

.headder-text {
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    color: #CEB428;
    font-weight: 400;
}

a {
    color: inherit; 
    text-decoration: inherit;
}

p{
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
}

h1{
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    text-align: center;
}

h2{
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 28px;
    font-style: normal;
    text-align: center;
}

h3{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 28px;
    font-family: 'Italianno', cursive;
    text-align: center;
}

h4{
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #BB1313;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.texte-bouton{
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
}

.titre-page *h2{
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    text-align: center;
}

.image-portrait{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

h5{
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-size: 40px;
    line-height: 28px;
    font-style: normal;
    text-align: left;
    color: #CEB428;
}

.main-foot{
    background-color: #BB1313;
    width: 100%;
    display: flex;
}

.icone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
}