html {
    padding: 0;
    margin: 0;
}

.body{
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: auto;
}

.main-head{
    position: fixed;
    background-color: #BB1313;
    width: 100%;
}

.headder-text {
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    color: #CEB428;
    font-weight: 400;
}

a {
    color: inherit; 
    text-decoration: inherit;
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Italianna', cursive;
}

h2{
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 28px;
    font-style: normal;
    text-align: center;
}

h3{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 28px;
    font-family: 'Italianno', cursive;
    text-align: center;
}

h4{
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #BB1313;
}

.texte-bouton{
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
}

