.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #BB1313;
    display: grid;
    place-content: center;
    z-index: 2;
}
.header_menuBtn {
    position: relative;
    z-index: 10;
}
  .noscroll,
  .noscroll body {
    overflow: hidden;
}