*,
*:before,
*:after {
  box-sizing: border-box;
}

.menu{
    position: fixed;
    inset: 0;
    background-color: #BB1313;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.5s;
}

.menu--open{
    transform: translateX(0);
    visibility: visible;
}

.menu-btn{
    width: 40px;
    height: 30px;
    position: relative;
    margin-top: 4%;
    margin-right: 3%;
    margin-left: 3%;
    justify-content: space-between;
    z-index: 2;
    background-color: none;
    border: none;
}

.menu-btnbar,
.menu-btnbar::before,
.menu-btnbar::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #CEB428;
  display: block;
  position: absolute;
  left: 0;
  z-index: 10;

}
